doctype html
html(lang="en")
    head
        title WhatsAppTools 1.6
        link(href='/fw/bs/css/bootstrap.min.css', rel='stylesheet')
        link(href='/fw/style.css', rel='stylesheet')
        link(href='/fw/fa/css/font-awesome.min.css', rel='stylesheet')
        link(href='/favicon.ico',rel='shortcut icon',type='image/x-icon')
        script(src='/fw/jquery.js')
        script(src='/fw/bs/js/bootstrap.min.js')
        script(src='/fw/yandex.js')
    body
        #wrap
            nav.navbar.navbar-default
                .container-fluid
                    .navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href='#')
                            i.fa.fa-whatsapp
                            | WhatsAppTools 1.6
                    .collapse.navbar-collapse#bs-example-navbar-collapse-1
                        ul.nav.navbar-nav
                            li
                                a(href='/#modules')= __("Modules")
                            li
                                a(href='/#bd')= __("Buy")
                            li
                                a(href='/#bd')= __("Download")
                            li
                                a(href='/#contact')= __("Contact Me")
                        ul.nav.navbar-nav.pull-right
                            li.dropdown
                                a.dropdown-toggle(href='#',role='button',data-toggle='dropdown',aria-expanded='false')= __("Language ")
                                    span.caret
                                ul.dropdown-menu(role='menu')
                                    li
                                        a(href='/lang/ru') Русский
                                    li
                                        a(href='/lang/en') English
            #main
                block content
        .color-container#footer
            .container.text-center
                h1.fa.fa-whatsapp.fa-4x(style='text-align:center;margin: 0;')
                noscript
                    div
                        img(src="//mc.yandex.ru/watch/31522023",style="position:absolute; left:-9999px;",alt="")